*{
    padding: 4px;
}
mat-card {
    width: 50%;
    height: 50%;
    position: center;
    margin: 0px 0px 25% 25%;
}

form {
    display: flex;
    flex-direction: column;

}

mat-card-title {
    text-align: center;
}

mat-form-field {
    width: 99%;

}

button {
    margin: 20px 15px 0px 0px;


}

::ng-deep .warning{
    background: 'yellow';
 }